// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2017 Fuzhou Rockchip Electronics Co., Ltd.
 * Copyright (c) 2018 Akash Gajjar <Akash_Gajjar@mentor.com>
 * Copyright (c) 2022 Maya Matuszczyk <maccraft123mc@gmail.com>
 */


/dts-v1/;
#include <dt-bindings/soc/rockchip-io-domain.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/input/input.h>
#include "rk3399.dtsi"
#include "rk3399-linux.dtsi"
#include "rk3399-opp.dtsi"

/ {
	model = "Switch NSL3399";
	compatible = "Switch,nsl3399", "rockchip,rk3399";

	aliases {
		mmc0 = &sdmmc;
		mmc1 = &sdhci;
	};

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff1a0000 console=ttyFIQ0 coherent_pool=1m";
	};

	ramoops_mem: ramoops_mem {
		reg = <0x0 0x110000 0x0 0xf0000>;
		reg-names = "ramoops_mem";
	};

	ramoops {
		compatible = "ramoops";
		record-size = <0x0 0x20000>;
		console-size = <0x0 0x80000>;
		ftrace-size = <0x0 0x00000>;
		pmsg-size = <0x0 0x50000>;
		memory-region = <&ramoops_mem>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		drm_logo: drm-logo@00000000 {
			compatible = "rockchip,drm-logo";
			reg = <0x0 0x0 0x0 0x0>;
		};

		stb_devinfo: stb-devinfo@00000000 {
			compatible = "rockchip,stb-devinfo";
			reg = <0x0 0x0 0x0 0x0>;
		};
	};

	fiq_debugger: fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <2>;
		rockchip,signal-irq = <182>;
		rockchip,wake-irq = <0>;
		rockchip,irq-mode-enable = <1>;  /* If enable uart uses irq instead of fiq */
		rockchip,baudrate = <1500000>;  /* Only 115200 and 1500000 */
		pinctrl-names = "default";
		pinctrl-0 = <&uart2c_xfer>;
		status = "okay";
	};

	rga: rga@ff680000 {
		compatible = "rockchip,rga2";
		dev_mode = <1>;
		reg = <0x0 0xff680000 0x0 0x1000>;
		interrupts = <GIC_SPI 55 IRQ_TYPE_LEVEL_HIGH 0>;
		clocks = <&cru ACLK_RGA>, <&cru HCLK_RGA>, <&cru SCLK_RGA_CORE>;
		clock-names = "aclk_rga", "hclk_rga", "clk_rga";
		power-domains = <&power RK3399_PD_RGA>;
		status = "okay";
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rk808 1>;
		clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;

		/*
		 * On the module itself this is one of these (depending
		 * on the actual card populated):
		 * - SDIO_RESET_L_WL_REG_ON
		 * - PDN (power down when low)
		 */
		reset-gpios = <&gpio0 RK_PB2 GPIO_ACTIVE_LOW>; /* GPIO0_B2 */
	};

	wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		wifi_chip_type = "ap6354";
		sdio_vref = <1800>;
		WIFI,host_wake_irq = <&gpio0 RK_PA3 GPIO_ACTIVE_HIGH>; /* GPIO0_a3 */
		status = "okay";
	};

	wireless-bluetooth {
		compatible = "bluetooth-platdata";
		clocks = <&rk808 1>;
		clock-names = "ext_clock";
		//wifi-bt-power-toggle;
		uart_rts_gpios = <&gpio2 RK_PC3 GPIO_ACTIVE_LOW>; /* GPIO2_C3 */
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart0_rts>;
		pinctrl-1 = <&uart0_gpios>;
		//BT,power_gpio  = <&gpio3 RK_PC0 GPIO_ACTIVE_HIGH>; /* GPIOx_xx */
		BT,reset_gpio    = <&gpio0 RK_PB1 GPIO_ACTIVE_HIGH>; /* GPIO0_B1 */
		BT,wake_gpio     = <&gpio2 RK_PD2 GPIO_ACTIVE_HIGH>; /* GPIO2_D2 */
		BT,wake_host_irq = <&gpio0 RK_PA4 GPIO_ACTIVE_HIGH>; /* GPIO0_A4 */
		status = "okay";
	};

	dp_sound: dp-sound {
		status = "okay";
		compatible = "rockchip,cdndp-sound";
		rockchip,cpu = <&spdif>;
		rockchip,codec = <&cdn_dp 1>;
	};

	sound-ext-card {
		status = "disabled";
	};

	/* first 64k(0xff8c0000~0xff8d0000) for ddr and suspend */
	iram: sram@ff8d0000 {
		compatible = "mmio-sram";
		reg = <0x0 0xff8d0000 0x0 0x20000>; /* 128k */
	};

	volume-keys {
		compatible = "gpio-keys";
		autorepeat;
		pinctrl-names = "default";
		pinctrl-0 = <&vol_pwr_btn>;

		sw1 {
			debounce-interval = <100>;
			gpios = <&gpio0 RK_PA5 GPIO_ACTIVE_LOW>;
			label = "BTN PWR";
			linux,code = <KEY_POWER>;
			wakeup-source;
		};
		sw2 {
			label = "BTN VOL+";
			linux,code = <KEY_VOLUMEUP>;
			gpios = <&gpio3 RK_PB4 GPIO_ACTIVE_LOW>;
		};
		sw3 {
			label = "BTN VOL-";
			linux,code = <KEY_VOLUMEDOWN>;
			gpios = <&gpio3 RK_PA1 GPIO_ACTIVE_LOW>;
		};
		sw4 {
			label = "BTN MENU";
			linux,code = <KEY_MENU>;
			gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_LOW>;
		};
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		home-key {
			linux,code = <BTN_MODE>;
			label = "F Button";
			press-threshold-microvolt = <17000>;
		};
	};

	joypad: singleadc-joypad {
		compatible = "singleadc-joypad";

		pwms = <&pwm1 0 200000000 0>;
		pwm-names = "enable";
		rumble-boost-weak = <0x0000>;
		rumble-boost-strong = <0x0000>;

		joypad-name = "retrogame_joypad";
		joypad-product = <0x1101>;
		joypad-revision = <0x0100>;

		status = "okay";

		/* gpio pincontrol setup */
		pinctrl-names = "default";
		pinctrl-0 = <&btn_pins>;

		/* Analog mux define */
		io-channel-names = "amux_adc";
		io-channels = <&saradc 0>;

		/* adc mux channel count */
		amux-count = <4>;
		/* adc mux select(a,b) gpio */
		amux-a-gpios = <&gpio2 RK_PD3 GPIO_ACTIVE_LOW>;
		amux-b-gpios = <&gpio2 RK_PD4 GPIO_ACTIVE_LOW>;
		/* adc mux enable gpio */
		amux-en-gpios = <&gpio1 RK_PA3 GPIO_ACTIVE_LOW>;

		/* adc calculate scale */
		button-adc-scale = <2>;

		/* adc deadzone range  */
		button-adc-deadzone = <64>;

		/*
		  specifies fuzz value that is used to filter noise from
		  the event stream.
		*/
		button-adc-fuzz = <32>;
		button-adc-flat = <32>;

		/*
		  Analog Stick data tuning value(precent)
		  p = positive direction, n = negative direction
		  report value = (real_adc_data * tuning_value) / 100
		*/
		abs_x-p-tuning = <300>;
		abs_x-n-tuning = <300>;

		abs_y-p-tuning = <300>;
		abs_y-n-tuning = <300>;

		abs_rx-p-tuning = <300>;
		abs_rx-n-tuning = <300>;

		abs_ry-p-tuning = <300>;
		abs_ry-n-tuning = <300>;

		/* poll device interval (ms), adc read interval */
		poll-interval = <10>;

		/* required for SW3399(invert) */
		invert-absx;
		invert-absy;

		/* gpio button auto repeat set value : default disable */
		/*
			autorepeat;
		*/
		sw1 {
		        gpios = <&gpio3 RK_PB0 GPIO_ACTIVE_LOW>;
		        label = "GPIO DPAD-UP";
		        linux,code = <BTN_DPAD_UP>;
		};
		sw2 {
		        gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_LOW>;
		        label = "GPIO DPAD-DOWN";
		        linux,code = <BTN_DPAD_DOWN>;
		};
		sw3 {
		        gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_LOW>;
		        label = "GPIO DPAD-LEFT";
		        linux,code = <BTN_DPAD_LEFT>;
		};
		sw4 {
		        gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
		        label = "GPIO DPAD-RIGHT";
		        linux,code = <BTN_DPAD_RIGHT>;
		};
		sw5 {
		        gpios = <&gpio3 RK_PB1 GPIO_ACTIVE_LOW>;
		        label = "GPIO KEY BTN-A";
		        linux,code = <BTN_EAST>;
		};
		sw6 {
		        gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN-B";
		        linux,code = <BTN_SOUTH>;
		};
		sw7 {
		        gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN-X";
		        linux,code = <BTN_NORTH>;
		};
		sw8 {
		        gpios = <&gpio3 RK_PA7 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN-Y";
		        linux,code = <BTN_WEST>;
		};
		sw9 {
		        gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_SELECT";
		        linux,code = <BTN_SELECT>;
		};
		sw10 {
		        gpios = <&gpio4 RK_PD1 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_START";
		        linux,code = <BTN_START>;
		};
		sw11 {
		        gpios = <&gpio3 RK_PA0 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_TL";
		        linux,code = <BTN_TL>;
		};
		sw12 {
		        gpios = <&gpio3 RK_PB3 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_TR";
		        linux,code = <BTN_TR>;
		};
		sw13 {
		        gpios = <&gpio3 RK_PA5 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_TL2";
		        linux,code = <BTN_TL2>;
		};
		sw14 {
		        gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_TR2";
		        linux,code = <BTN_TR2>;
		};
		sw15 {
		        gpios = <&gpio1 RK_PC2 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_THUMBL";
		        linux,code = <BTN_THUMBL>;
		};
		sw16 {
		        gpios = <&gpio0 RK_PA1 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_THUMBR";
		        linux,code = <BTN_THUMBR>;
		};
	};

	leds: gpio-leds {
			compatible = "gpio-leds";
			pinctrl-names = "default";
			pinctrl-0 =<&leds_gpio>;

			led@1 {
					gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>;
					label = "battery_green";
					default-state= "on";
				//	retain-state-suspended;
			};

			led@2 {
					gpios = <&gpio4 RK_PC0 GPIO_ACTIVE_HIGH>;
					label = "battery_red";
				//	retain-state-suspended;
			};

	};
	
	rt5651-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "rockchip,rt5651-codec";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;

		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Headphone", "Headphones";
		simple-audio-card,routing =
			"Mic Jack", "MICBIAS1",
			"IN1P", "Mic Jack",
			"Headphone Jack", "HPOL",
			"Headphone Jack", "HPOR";
		simple-audio-card,cpu {
			sound-dai = <&i2s0>;
		};
		simple-audio-card,codec {
			sound-dai = <&rt5651>;
		};
	};

	xin32k: xin32k {
		compatible = "fixed-clock";
		clock-frequency = <32768>;
		clock-output-names = "xin32k";
		#clock-cells = <0>;
	};

	vcc_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vccadc_ref: vccadc-ref {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	vdd_log: vdd-log {
		compatible = "pwm-regulator";
		pwms = <&pwm2 0 25000 1>;
		regulator-name = "vdd_log";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <1400000>;
		vin-supply = <&vcc_sys>;
	};
};

&dmac_bus {
	iram = <&iram>;
	rockchip,force-iram;
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l1 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l2 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l3 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_b>;
};

&cpu_b1 {
	cpu-supply = <&vdd_cpu_b>;
};

&emmc_phy {
	status = "okay";
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&i2c0 {
	clock-frequency = <400000>;
	i2c-scl-rising-time-ns = <168>;
	i2c-scl-falling-time-ns = <4>;
	status = "okay";

	rk808: pmic@1b {
		compatible = "rockchip,rk808";
		reg = <0x1b>;
		interrupt-parent = <&gpio1>;
		interrupts = <21 IRQ_TYPE_LEVEL_LOW>;
		#clock-cells = <1>;
		//clock-output-names = "xin32k", "rk808-clkout2";
		clock-output-names = "rk808-clkout1", "rk808-clkout2";  //wifi
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int_l &pmic_dvs2>;
		rockchip,system-power-controller;
		wakeup-source;

		vcc1-supply = <&vcc_sys>;
		vcc2-supply = <&vcc_sys>;
		vcc3-supply = <&vcc_sys>;
		vcc4-supply = <&vcc_sys>;
		vcc6-supply = <&vcc_sys>;
		vcc7-supply = <&vcc_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc_sys>;
		vcc10-supply = <&vcc_sys>;
		vcc11-supply = <&vcc_sys>;
		vcc12-supply = <&vcc3v3_sys>;
		vddio-supply = <&vcc1v8_pmu>;

		rtc {
			status = "okay";
		};

		regulators {
			vdd_center: DCDC_REG1 {
				regulator-name = "vdd_center";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu_l: DCDC_REG2 {
				regulator-name = "vdd_cpu_l";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_1v8: DCDC_REG4 {
				regulator-name = "vcc_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc1v8_dvp: LDO_REG1 {
				regulator-name = "vcc1v8_dvp";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-state-mem {
					//regulator-off-in-suspend;
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc3v0_tp: LDO_REG2 {
				regulator-name = "vcc3v0_tp";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			vcc1v8_pmu: LDO_REG3 {
				regulator-name = "vcc1v8_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc_sdio: LDO_REG4 {
				regulator-name = "vcc_sdio";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcca3v0_codec: LDO_REG5 {
				regulator-name = "vcca3v0_codec";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v5: LDO_REG6 {
				regulator-name = "vcc_1v5";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1500000>;
				};
			};

			vcca1v8_codec: LDO_REG7 {
				regulator-name = "vcca1v8_codec";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v0: LDO_REG8 {
				regulator-name = "vcc_3v0";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			vcc3v3_s3: vcc_lan: SWITCH_REG1 {
				regulator-name = "vcc3v3_s3";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_s0: SWITCH_REG2 {
				regulator-name = "vcc3v3_s0";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};

    vdd_cpu_b: syr827@40 {
            compatible = "silergy,syr827";
            reg = <0x40>;
            vin-supply = <&vcc_sys>;
            regulator-compatible = "fan53555-reg";
            pinctrl-names = "default";
            pinctrl-0 = <&vsel1_gpio>;
            vsel-gpios = <&gpio1 RK_PC1 GPIO_ACTIVE_HIGH>;
            regulator-name = "vdd_cpu_b";
            regulator-min-microvolt = <712500>;
            regulator-max-microvolt = <1500000>;
            regulator-ramp-delay = <1000>;
            fcs,suspend-voltage-selector = <1>;
            regulator-always-on;
            regulator-boot-on;
            regulator-initial-state = <3>;

            regulator-state-mem {
                regulator-off-in-suspend;
            };
    };

        vdd_gpu: syr828@41 {
				compatible = "silergy,syr828";
				reg = <0x41>;
				vin-supply = <&vcc_sys>;
				regulator-compatible = "fan53555-reg";
				pinctrl-names = "default";
				pinctrl-0 = <&vsel2_gpio>;
				vsel-gpios = <&gpio1 RK_PB6 GPIO_ACTIVE_HIGH>;
				regulator-name = "vdd_gpu";
                regulator-min-microvolt = <712500>;
                regulator-max-microvolt = <1500000>;
                regulator-ramp-delay = <1000>;
                fcs,suspend-voltage-selector = <1>;
                regulator-always-on;
                regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
		};
	};

};

&i2c1 {
	status = "okay";

	rt5651: rt5651@1a {
		compatible = "realtek,rt5651";
		status = "okay";
		reg = <0x1a>;
		clocks = <&cru SCLK_I2S_8CH_OUT>;
		clock-names = "mclk";
		spk-con-gpio = <&gpio0 RK_PB3 GPIO_ACTIVE_HIGH>;
		hp-det-gpio = <&gpio4 RK_PD4 GPIO_ACTIVE_LOW>;
		#sound-dai-cells = <0>;
	};

	fusb0: fusb30x@22 {
		compatible = "fairchild,fusb302";
		status = "okay";
		reg = <0x22>;
		interrupt-parent = <&gpio1>;
		interrupts = <RK_PA2 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&fusb0_int>;
		int-n-gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
		vbus-5v-gpios = <&gpio4 RK_PD2 GPIO_ACTIVE_HIGH>;

		usb_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";
			sink-pdos =
				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
				 PDO_FIXED(9000, 3000, PDO_FIXED_USB_COMM)
				 PDO_FIXED(12000, 3000, PDO_FIXED_USB_COMM)>;
			source-pdos =
				<PDO_FIXED(5000, 2400, PDO_FIXED_USB_COMM)>;
			op-sink-microwatt = <1000000>;
			typec-altmodes = <0xff01 1 0x001c0c00 1>;
		};
	};

	bq25890: charger@6a {
		status = "okay";
		compatible = "ti,bq25890";
		reg = <0x6a>;
		extcon = <&fusb0>;

		pinctrl-names = "default";
		pinctrl-0 = <&charger_ok>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA6 IRQ_TYPE_EDGE_FALLING>;

		ti,battery-regulation-voltage = <4200000>; /* 4.2V */
		ti,charge-current = <3000000>; /* 3A */
		ti,termination-current = <50000>;  /* 50mA */
		ti,precharge-current = <130000>; /* 130mA */
		ti,minimum-sys-voltage = <3700000>; /* 3.7V */
		ti,boost-voltage = <5000000>; /* 5V */
		ti,boost-max-current = <2400000>; /* 2400mA */
	};

	cw2015: cw201x@62 {
		status = "okay";
		compatible = "cw201x";
		reg = <0x62>;
		bat_config_info = <
				   0x15 0x7E 0x77 0x6C 0x6A 0x68 0x65 0x63
				   0x61 0x61 0x61 0x5E 0x58 0x52 0x48 0x36
				   0x2E 0x2A 0x2D 0x33 0x3E 0x4A 0x55 0x5F
				   0x64 0x4F 0x06 0x66 0x06 0x0D 0x3A 0x48
				   0x4C 0x4D 0x51 0x52 0x3D 0x19 0x64 0x10
				   0x02 0x14 0x5B 0x84 0x8E 0x90 0x90 0x56
				   0x81 0x8B 0x92 0x92 0x80 0x50 0x8E 0xCB
				   0x2F 0x00 0x64 0xA5 0xB5 0x05 0xC0 0x11
		>;
		monitor_sec = <5>;
		virtual_power = <0>;
		design_capacity = <5800>;
	};

};

&i2c4 {
	i2c-scl-rising-time-ns = <475>;
	i2c-scl-falling-time-ns = <26>;
	status = "okay";

	focaltech@38 {
		status = "okay";
		compatible = "focaltech,fts";
		reg = <0x38>;
		power-supply = <&vcc3v0_tp>;
		pinctrl-names = "default";
		pinctrl-0 = <&touch_gpio>;
		focaltech,irq-gpio = <&gpio1 RK_PC6 IRQ_TYPE_LEVEL_LOW>;
		focaltech,reset-gpio = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
		focaltech,max-touch-number = <10>;
		focaltech,display-coords =  <0 0 1080 1920>;
		wakeup-source;
	};

};

&i2s0 {
	rockchip,playback-channels = <8>;
	rockchip,capture-channels = <8>;
	status = "okay";
};

&i2s2 {
	status = "okay";
};

&io_domains {
	status = "okay";

	bt656-supply = <&vcc_1v8>;				/* bt656_gpio2ab_ms */
	audio-supply = <&vcca1v8_codec>;		/* audio_gpio3d4a_ms */
	sdmmc-supply = <&vcc_sdio>;				/* sdmmc_gpio4b_ms */
	gpio1830-supply = <&vcc_3v0>;			/* gpio1833_gpio4cd_ms */
};

&pmu_io_domains {
	pmu1830-supply = <&vcc_1v8>;
	status = "okay";
};

&pwm1 {
	status = "okay";
	label = "rumble-pwm";
};

&pwm2 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm2_pin_pull_down>;
};

&saradc {
	vref-supply = <&vccadc_ref>;
	status = "okay";
};

&sdhci {
	bus-width = <8>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	non-removable;
	supports-emmc;
	status = "okay";
};

&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	supports-sd;
	clock-frequency = <150000000>;
	disable-wp;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	supports-emmc;
	max-frequency = <150000000>;
	cd-gpios = <&gpio0 RK_PA7 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk &sdmmc_cmd &sdmmc_cd &sdmmc_bus4>;
	vmmc-supply = <&vcc_3v0>;
	vqmmc-supply = <&vcc_sdio>;
	status = "okay";
};

&tcphy0 {
	extcon = <&fusb0>, <&rtusb0>;
	status = "okay";
};

&u2phy0 {
	status = "okay";
	extcon = <&fusb0>, <&rtusb0>;

	u2phy0_otg: otg-port {
		status = "okay";
	};

	u2phy0_host: host-port {
		status = "okay";
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_xfer &uart0_cts>;
	status = "okay";
};

&uart2 {
	status = "disabled";
};

&tsadc {
	/* tshut mode 0:CRU 1:GPIO */
	rockchip,hw-tshut-mode = <1>;
	/* tshut polarity 0:LOW 1:HIGH */
	rockchip,hw-tshut-polarity = <1>;
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usbdrd3_0 {
	status = "okay";
};

&usbdrd_dwc3_0 {
	status = "okay";
	dr_mode = "otg";
	extcon = <&fusb0>, <&rtusb0>;
};

&vopb {
	status = "okay";
	assigned-clocks = <&cru DCLK_VOP0_DIV>;
	assigned-clock-parents = <&cru PLL_VPLL>;
};

&vopb_mmu {
	status = "okay";
};

&vopl {
	status = "okay";
	assigned-clocks = <&cru DCLK_VOP1_DIV>;
	assigned-clock-parents = <&cru PLL_CPLL>;
};

&vopl_mmu {
	status = "okay";
};

&dfi {
	status = "okay";
};

&dmc {
	status = "okay";
	center-supply = <&vdd_center>;
	upthreshold = <40>;
	downdifferential = <20>;
	system-status-freq = <
		/*system status         freq(KHz)*/
		SYS_STATUS_NORMAL       856000
		SYS_STATUS_REBOOT       416000
		SYS_STATUS_SUSPEND      416000
		SYS_STATUS_VIDEO_1080P  856000
		SYS_STATUS_VIDEO_4K     856000
		SYS_STATUS_VIDEO_4K_10B 856000
		SYS_STATUS_PERFORMANCE  856000
		SYS_STATUS_BOOST        856000
		SYS_STATUS_DUALVIEW     856000
		SYS_STATUS_ISP          856000
	>;
	vop-bw-dmc-freq = <
	/* min_bw(MB/s) max_bw(MB/s) freq(KHz) */
		0       577      416000
		578     99999    856000
	>;
	vop-pn-msch-readlatency = <
	/* plane_number  readlatency */
		0       0
		4       0x20
	>;
	auto-min-freq = <416000>;
	auto-freq-en = <1>;
};

&dmc_opp_table {
	compatible = "operating-points-v2";

	opp-200000000 {
		opp-hz = /bits/ 64 <200000000>;
		opp-microvolt = <900000>;
		status = "disabled";
	};
	opp-300000000 {
		opp-hz = /bits/ 64 <300000000>;
		opp-microvolt = <900000>;
		status = "disabled";
	};
	opp-400000000 {
		opp-hz = /bits/ 64 <400000000>;
		opp-microvolt = <900000>;
		status = "disabled";
	};
	opp-416000000 {
		opp-hz = /bits/ 64 <416000000>;
		opp-microvolt = <1000000>;
	};
	opp-528000000 {
		opp-hz = /bits/ 64 <528000000>;
		opp-microvolt = <900000>;
		status = "disabled";
	};
	opp-600000000 {
		opp-hz = /bits/ 64 <600000000>;
		opp-microvolt = <900000>;
		status = "disabled";
	};
	opp-800000000 {
		opp-hz = /bits/ 64 <800000000>;
		opp-microvolt = <900000>;
		status = "disabled";
	};
	opp-856000000 {
		opp-hz = /bits/ 64 <856000000>;
		opp-microvolt = <1000000>;
	};
};

&dp_sound {
	status = "okay";
};

&spdif {
	status = "okay";
	pinctrl-0 = <&spdif_bus>;
	i2c-scl-rising-time-ns = <450>;
	i2c-scl-falling-time-ns = <15>;
	#sound-dai-cells = <0>;
};

&saradc {
	status = "okay";
};

&sdio0 {
	max-frequency = <100000000>;
	supports-sdio;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdio0_bus4 &sdio0_cmd &sdio0_clk>;
	sd-uhs-sdr104;
	status = "okay";
};

&rockchip_suspend {
	status = "okay";
	rockchip,sleep-debug-en = <1>;
	rockchip,sleep-mode-config = <
		(0
		| RKPM_SLP_ARMPD
		| RKPM_SLP_PERILPPD
		| RKPM_SLP_DDR_RET
		| RKPM_SLP_PLLPD
		| RKPM_SLP_CENTER_PD
		| RKPM_SLP_AP_PWROFF
		)
		>;
	rockchip,wakeup-config = <
		(0
		| RKPM_GPIO_WKUP_EN
		| RKPM_PWM_WKUP_EN
		| RKPM_USB_WKUP_EN
		| RKPM_USB_LINESTATE_WKUP_EN
		)
		>;
		rockchip,pwm-regulator-config = <
		(0
		| PWM2_REGULATOR_EN
		)
		>;
		rockchip,power-ctrl =
		<&gpio1 17 GPIO_ACTIVE_HIGH>,
		<&gpio1 14 GPIO_ACTIVE_HIGH>;
};

&dsi {
	status = "okay";

	status = "okay";

	panel@0 {
		compatible ="simple-panel-dsi";
		status = "okay";
		reg = <0>;
		power-supply = <&vcc3v3_sys>;
		reset-delay-ms = <20>;
		init-delay-ms = <20>;
		enable-delay-ms = <120>;
		prepare-delay-ms = <120>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_reset_gpio>;
		reset-gpios = <&gpio2 RK_PB3 GPIO_ACTIVE_LOW>;
		dsi-lanes = <4>;
		width-mm = <68>;
		height-mm = <121>;

		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes = <4>;

		display-timings {
			timing {
				clock-frequency = <135000000>;
				hactive = <1080>;
				vactive = <1920>;
				hfront-porch = <26>;
				hsync-len = <2>;
				hback-porch = <36>;
				vfront-porch = <8>;
				vsync-len = <4>;
				vback-porch = <16>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		panel-init-sequence = [
			15 00 02 FE 0E
			15 00 02 4B 00
			15 00 02 4C 0F
			15 00 02 4D 20
			15 00 02 4E 40
			15 00 02 4F 60
			15 00 02 50 A0
			15 00 02 51 C0
			15 00 02 52 E0
			15 00 02 53 FF

			15 00 02 FE 0D
			15 00 02 18 08
			15 00 02 42 01
			15 00 02 08 41
			15 00 02 46 02
			15 00 02 72 09

			15 00 02 FE 0A
			15 00 02 24 17
			15 00 02 04 07
			15 00 02 1A 0C
			15 00 02 0F 44

			15 00 02 FE 04
			15 00 02 00 0C
			15 00 02 0A E6
			15 00 02 0B 8C
			15 00 02 1A 12
			15 00 02 29 93
			15 00 02 2A 93
			15 00 02 2F 02
			15 00 02 31 02
			15 00 02 33 05
			15 00 02 37 2D
			15 00 02 38 3D
			15 00 02 3A 1E
			15 00 02 3B 1E
			15 00 02 3D 27
			15 00 02 3F 80
			15 00 02 40 40
			15 00 02 41 E0
			15 00 02 4F 3F
			15 00 02 50 1E

			15 00 02 FE 06
			15 00 02 00 CC
			15 00 02 05 05
			15 00 02 07 A2
			15 00 02 08 CC
			15 00 02 0D 03
			15 00 02 0F A2
			15 00 02 32 CC
			15 00 02 37 05
			15 00 02 39 83
			15 00 02 3A CC
			15 00 02 41 04
			15 00 02 43 83
			15 00 02 44 CC
			15 00 02 49 05
			15 00 02 4B A2
			15 00 02 4C CC
			15 00 02 51 03
			15 00 02 4B A2
			15 00 02 4C CC
			15 00 02 51 03
			15 00 02 53 A2
			15 00 02 75 CC
			15 00 02 7A 03
			15 00 02 7C 83
			15 00 02 7D CC
			15 00 02 82 02
			15 00 02 84 83
			15 00 02 85 EC
			15 00 02 86 0F
			15 00 02 87 FF
			15 00 02 88 00
			15 00 02 8A 02
			15 00 02 8C A2
			15 00 02 8D EA
			15 00 02 8E 01
			15 00 02 8F E8
			15 00 02 90 0A
			15 00 02 92 06
			15 00 02 93 A0
			15 00 02 94 A8
			15 00 02 95 EC
			15 00 02 96 0F
			15 00 02 97 FF
			15 00 02 98 00
			15 00 02 9A 02
			15 00 02 9C A2
			15 00 02 AC 04
			15 00 02 B1 12
			15 00 02 B2 17
			15 00 02 B3 17
			15 00 02 B4 17
			15 00 02 B5 17
			15 00 02 B6 11
			15 00 02 B7 08
			15 00 02 B8 09
			15 00 02 B9 06
			15 00 02 BA 07
			15 00 02 BB 17
			15 00 02 BC 17
			15 00 02 BD 17
			15 00 02 BE 17
			15 00 02 BF 17
			15 00 02 C0 17
			15 00 02 C1 17
			15 00 02 C2 17
			15 00 02 C3 17
			15 00 02 C4 0F
			15 00 02 C5 0E
			15 00 02 C6 00
			15 00 02 C7 01
			15 00 02 C8 10

			15 00 02 FE 00
			15 00 02 C2 08
			15 00 02 35 00
			39 00 03 44 03 80

			15 00 02 51 FF

			05 78 01 11
			05 64 01 29
			
        ];

        panel-exit-sequence = [
            05 00 01 28
            05 28 01 10
        ];

		display-timings {
			native-mode = <&timing0>;
			timing0: timing0{
				clock-frequency = <135000000>;
				hactive = <1080>;
				vactive = <1920>;
				hback-porch = <36>;
				hfront-porch = <26>;
				vback-porch = <16>;
				vfront-porch = <8>;
				hsync-len = <2>;
				vsync-len = <4>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
        };
	};
};

&cdn_dp {
	status = "okay";
	extcon = <&fusb0>, <0>, <&rtusb0>;
	phys = <&tcphy0_dp>;
};

&dsi_in_vopl {
	status = "okay";
};

&dp_in_vopb {
	status = "okay";
};

&display_subsystem {
	status = "okay";

	ports = <&vopb_out>, <&vopl_out>;
	logo-memory-region = <&drm_logo>;

	route {
		route_dsi: route-dsi {
			status = "okay";
			logo,uboot = "logo.bmp";
			logo,kernel = "logo_kernel.bmp";
			logo,mode = "center";
			charge_logo,mode = "center";
			connect = <&vopl_out_dsi>;
		};

		route_dp: route-dp {
			status = "disabled";
			logo,uboot = "logo.bmp";
			logo,kernel = "logo_kernel.bmp";
			logo,mode = "center";
			charge_logo,mode = "center";
			connect = <&vopb_out_dp>;
		};
	};
};

&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&pvtm {
	status = "okay";
};

&rkvdec {
	status = "okay";
	/* 0 means ion, 1 means drm */
	//allocator = <0>;
};

&rkvdec_mmu {
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vepu {
	status = "okay";
};

&vpu_mmu {
	status = "okay";
};

&pinctrl {
	pcfg_pull_up_12ma: pcfg-pull-up-12ma {
		drive-strength = <12>;
		bias-pull-up;
	};

	charger {
		charger_ok: charger_ok {
			rockchip,pins = <0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	fusb302x {
		fusb0_int: fusb0-int {
			rockchip,pins = <1 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>,
							<4 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	pmic {
		pmic_int_l: pmic-int-l {
			rockchip,pins = <1 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		pmic_dvs2: pmic-dvs2 {
			rockchip,pins = <1 RK_PA5 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		vsel1_gpio: vsel1-gpio {
			rockchip,pins = <1 RK_PC1 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		vsel2_gpio: vsel2-gpio {
			rockchip,pins = <1 RK_PB6 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <0 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-bluetooth {
		uart0_gpios: uart0-gpios {
			rockchip,pins = <2 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	gpio-leds {
		leds_gpio: leds-gpio {
					rockchip,pins =
							<4 RK_PC0 RK_FUNC_GPIO &pcfg_pull_up_12ma>,
							<4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up_12ma>;
			};
	};

	lcd-panel {
		lcd_reset_gpio: lcd-reset-gpio {
			rockchip,pins = <2 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		touch_gpio: touch-gpio {
			rockchip,pins = <1 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>,
							<1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	btns {
		btn_pins: btn-pins {
			rockchip,pins = 
					<2 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>,
					<2 RK_PD4 RK_FUNC_GPIO &pcfg_pull_up>,
					<1 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PB7 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>,
					<4 RK_PD1 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_up>,
					<1 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>,
					<0 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
		vol_pwr_btn: vol-pwr-btn {
			rockchip,pins =
					<0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
